mixin footer()
	+b.FOOTER.footer
		.container
			+e.row.row
				.col-md
					p © 2004-2022 Leverage Investments - Недвижимость Северного Кипра
					p Сертификат о государственной регистрации компании Leverage Investments Ltd №13304
					p Сертификат о регистрации компании Leverage Investments Ltd в Торгово-Промышленной Палате ТРСК №17105
					p Государственная лицензия на ведение риелторского бизнеса №161
					p Международный сертификат качества ISO 9001:2015
				.col-md-auto
					+e.design Разработка сайта - 
						a(href="https://t.me/arts_man" target="_blank") Artsman