.footer {
	padding-bottom: rem(60);
	&__row {
		--bs-gutter-y: #{rem(40)};
		align-items: end;
	}
	p {
		font-size: rem(12);
		color: #fff;
		text-align: center;
		margin-bottom: 0;
		&:not(:last-child) {
			margin-bottom: rem(5);
		}
		@include media-breakpoint-up(md) {
			text-align: left;
			font-size: rem(14);
		}
	}
	&__design {
		font-family: $font-family-monospace;
		color: #fff;
		text-align: center;
		font-size: rem(15);
		@include media-breakpoint-up(md) {
			font-size: rem(16);
			text-align: left;
		}
		a {
			font-weight: 700;
			&:not(:hover) {
				color: #fff;
			}
		}
	}
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}


// 
@include media-breakpoint-between(md, xl) {}


// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}


// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}
}
