
	// start .sForm
.sForm {
	--sPT: #{rem(60)};
	--sPB: #{rem(40)};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
	}
	&__row {
		align-items: center;
		--bs-gutter-y: #{rem(40)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(100)};
		}
	}
	.section-title {
		color: #fff;
		margin-bottom: 0;
		@include media-breakpoint-down(lg) {
			text-align: center;
		}
		h2 {
			color: #fff;
			&:after {
				@include media-breakpoint-up(lg) {
					left: 0;
					transform: unset;
				}
			}
		}
		p {
			font-size: rem(16);
			max-width: rem(400);
			@include media-breakpoint-down(lg) {
				margin-left: auto;
				margin-right: auto;
			}
			@include media-breakpoint-up(md) {
				font-size: rem(18);
			}
		}
	}
	&__callBack {
		a {
			@include media-breakpoint-down(lg) {
				text-align: center;
			}
			display: block;
			text-align: right;
			font-weight: 600;
		}
	}
	&__phone {
		color: #fff;
		font-size: rem(30);
	}
	&__order {
	}
	&__working {
		font-family: $font-family-monospace;
		text-align: right;
		color: #fff;
		position: relative;
		padding-left: rem(18);
		max-width: max-content;
    margin-left: auto;
		margin-bottom: rem(3);
		@include media-breakpoint-down(lg) {
			margin-left: auto;
			margin-right: auto;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 8px;
			left: 0px;
			width: 8px;
			height: 8px;
			border-radius: 100%;
			background-color: #32cd32;
			animation: phoneTag 4.7s infinite ease;
		}
	}
	.form-wrap {
		&__inner-row {
			align-items: center;
			--bs-gutter-x: #{rem(5)};
			--bs-gutter-y: #{rem(5)};
			@include media-breakpoint-up(md) {
				--bs-gutter-x: #{rem(20)};
				--bs-gutter-y: #{rem(20)};
			}
		}
		&__btn {
			width: 100%;
			margin-top: rem(15);
			margin-bottom: rem(15);
			@include media-breakpoint-up(md) {
				max-width: 100%;
				width: rem(300);
				margin-top: 0;
				margin-bottom: 0;
			}
		}
		textarea {
			min-height: rem(100);
			@include media-breakpoint-up(lg) {
				min-height: rem(120);
			}
		}
	}
	@keyframes phoneTag {
		0% {
			transform: scale(1);
		}
	
		40% {
			transform: scale(1);
		}
	
		45% {
			transform: scale(1.3);
		}
	
		50% {
			transform: scale(0);
		}
	
		55% {
			transform: scale(0);
		}
	
		60% {
			transform: scale(1.3);
		}
	
		65% {
			transform: scale(1);
		}
	
		100% {
			transform: scale(1);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.sForm