
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+b.section-title.text-center
				.h3 #[strong Заявка на подбор ] объекта
				p Наш менеджер свяжется с&nbsp;Вами, уточнит требования и&nbsp;бюджет, подготовит и&nbsp;вышлет подборку из&nbsp;20-30 наиболее подходящих для вас объектов.
			+form-wrap
				+input("Введите имя")(required)  
				+input("Телефон")(required)  
				+e.BUTTON.btn.btn.btn-primary(type="submit"  ) оставить заявку
				+policy()
			+e.call-us 
				p Связаться с менеджером
				+e.phone(href="tel:+79046005803") +7 (904) 600-58-03
				+soc
	// #modal-call
	
	// end modals