
mixin modal() 
	//  start modals
	//- a(href="modal-call").link-modal-js modal-call 
	div(id="modal-call"  style="display: none" )
		+b.modal-win
			+b.section-title.text-center
				.h3 #[strong Заявка на подбор ] объекта
				p Наш менеджер свяжется с&nbsp;Вами, уточнит требования и&nbsp;бюджет, подготовит и&nbsp;вышлет подборку из&nbsp;20-30 наиболее подходящих для вас объектов.
			+form-wrap
				+input("Введите имя", 'text', '', 'name')(required)  
				+input("Телефон", 'tel')(required)  
				+e.BUTTON.btn.btn.btn-primary.modal-close-js(type="submit"  ) оставить заявку
				+policy()
			+e.call-us 
				p Связаться с менеджером
				+e.phone(href="tel:+79046005803") +7 (904) 600-58-03
				+soc
	// #modal-call
	div(id="modal-call2"  style="display: none" )
		+b.modal-win
			+b.section-title.text-center
				.h3 #[strong Получить бесплатную ] консультацию
				p Наш менеджер свяжется с&nbsp;Вами, в ближайшие время и проконсультирует по любым вопросам
			+form-wrap
				+input("Введите имя", 'text', '', 'name')(required)  
				+input("Телефон", 'tel')(required)  
				+e.BUTTON.btn.btn.btn-primary.modal-close-js(type="submit"  ) оставить заявку
				+policy()
			+e.call-us 
				p Связаться с менеджером
				+e.phone(href="tel:+79046005803") +7 (904) 600-58-03
				+soc
	// #modal-call
	div(id="modal-call3"  style="display: none" )
		+b.modal-win
			+b.section-title.text-center
				.h3 #[strong Заказать ] звонок
				p Наш менеджер свяжется с&nbsp;Вами, в ближайшие время и проконсультирует по любым вопросам
			+form-wrap
				+input("Введите имя", 'text', '', 'name')(required)  
				+input("Телефон", 'tel')(required)  
				+e.BUTTON.btn.btn.btn-primary.modal-close-js(type="submit"  ) оставить заявку
				+policy()
			+e.call-us 
				p Связаться с менеджером
				+e.phone(href="tel:+79046005803") +7 (904) 600-58-03
				+soc
	// #modal-call
	div(id="modal-thanks"  style="display: none" )
		+b.modal-win.text-center
			+b.section-title.text-center
				.h4 #[strong Спасибо ] за обращение!
				p В ближайшее время мы свяжемся с Вами
			+e.btn(href="#").btn.btn-primary.modal-close-js Закрыть
	// end modals