// start .sSlider
.sSlider {
	--sPT: #{rem(60)};
	--sPB: #{rem(60)};
	// --sTPB: #{rem()};
	background-color: $gray-100;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(98)};
		--sPB: #{rem(100)};
	}
	&__row{
		--bs-gutter-x: #{rem(0)};
		--bs-gutter-y: #{rem(0)};
		@include media-breakpoint-down(sm) {
			width: calc(100vw - 2.5rem * 0.5);
			margin-left: calc((100vw - 100%) / -2 - (2.5rem * -0.3));
		}
	}
	.section-title{
		@include media-breakpoint-down(xxl) {
			margin-bottom: rem(40);
		}
	}
	&__col{

	}
	&__item{

	}
	&__slider {
		overflow: visible;
		margin-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
		& > .swiper-wrapper {
			@include media-breakpoint-down(lg) {
				flex-wrap: wrap;
				transform: none !important;
			}
		}
	}
	&__control {
		@include media-breakpoint-down(xxl) {
			display: flex;
			justify-content: center;
			margin-bottom: rem(40);
		}
		.swiper-button-hand {
			--swiperArrowPosition: calc(-180px);
			--swiperArrowSize: 60px;
			border: none;
			color: $body-color;
			&:hover {
				&:before {
					border-color: $primary;
				}
			}
			@include media-breakpoint-down(xxl) {
				position: relative;
				top: unset;
				bottom: unset;
				right: unset;
				left: unset;
			}
			@include media-breakpoint-up(xxl) {
				top: -100px;
				&:after {
					content: '';
					position: absolute;
					display: block;
					width: 100vh;
					height: 614px;
					top: -277px;
				}
			}
			&:before {
				@include mt;
				content: '';
				position: absolute;
				display: block;
				width: 50px;
				height: 50px !important;
				border: 1px dashed #DEDFE0;
				left: 5px;
				height: 5px;
				border-radius: 50%;
			}
			&-next {
				&:after {
					left: -60px;
				}
			}
			&-prev {
				@include media-breakpoint-down(xxl) {
					margin-right: rem(20);
				}
				&:after {
					right: -60px;
				}
			}
			svg {
				font-size: rem(24);
			}
		}
	}
	&__main-slide {
		&:not(:last-child) {
			margin-bottom: rem(20);
		}
		&.swiper-slide-next, &.swiper-slide-prev {
			@include media-breakpoint-up(lg) {
				opacity: 0.5;
			}
		}
	}
	&__gallery-slider {
		// height: 100%;
		.swiper-button-hand {
			--swiperArrowSize: #{rem(40)};
			--swiperArrowPosition: #{rem(40)};
			--swiperBorderColorDef: #fff;
			--swiperColorDef: #fff;
			--swiperBgDefHover: #000;
			--swiperColorDefHover: #fff;
			--swiperBgDef: rgba(30, 40, 49, 0.5);
			border: none;
			backdrop-filter: blur(15px);
			border-radius: 10px;
			@include media-breakpoint-up(lg) {
				--swiperArrowSize: #{rem(60)};
				border-radius: 15px;
			}
			@include media-breakpoint-down(lg) {
				top: unset;
				bottom: 20px;
			}
			&-prev {
				@include media-breakpoint-down(lg) {
					left: 20px;
				}
			}
			&-next {
				@include media-breakpoint-down(lg) {
					left: 65px;
					right: unset;
				}
			}
			svg {
				font-size: rem(16);
				// fill: none;
				// stroke: currentColor;
				// stroke-width: 2px;
				@include media-breakpoint-up(lg) {
					font-size: rem(24);
				}
			}
		}
		.swiper-pagination {
			right: 20px;
			left: unset;
			text-align: right;
			bottom: 20px;
			@include media-breakpoint-up(lg) {
				bottom: 10px;
				left: 0;
				text-align: center;
			}
			&-bullet {
				--swiper-pagination-bullet-horizontal-gap: #{rem(5)};
				background-color: #fff;
				opacity: .5;
				width: 5px;
				height: 5px;
				cursor: pointer;
				@include media-breakpoint-up(lg) {
					width: 10px;
					height: 10px;
				}
				&-active, &:hover {
					opacity: 1;
				}
			}
		}
	}
	&__img-wrap {
		@include block(700, 544);
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
	&__content {
		background-color: #fff;
		height: 100%;
		// margin-bottom: rem(20);
		padding: rem(20);
		@include media-breakpoint-up(lg) {
			padding: rem(40);

		}
		.h4 {
			font-weight: 700;
			letter-spacing: -1px;
			line-height: 1.33em;
			max-width: rem(400);
			margin-bottom: rem(16);
			@include media-breakpoint-down(md) {
				font-size: rem(20);
			}
		}
		ul {
			list-style-type: none;
			margin-bottom: 0;
			li {
				position: relative;
				padding-left: rem(14);
				line-height: 1.56em;
				font-size: rem(14);
				@include media-breakpoint-up(md) {
					font-size: rem(16);
				}
				&:not(:last-child) {
					margin-bottom: rem(10);
				}
				&:before {
					content: '';
					position: absolute;
					display: block;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background-color: $primary;
					left: 0;
					top: 9px;
				}
			}
		}
	}
	&__label-row {
		--bs-gutter-x: #{rem(5)};
		// margin-bottom: rem(30);
		margin-bottom: rem(20);
		// @include media-breakpoint-up(lg) {
		// }
	}
	&__label {
		padding: rem(3) rem(10);
		background-color: $gray-100;
		border-radius: 5px;
		font-family: $font-family-monospace;
		font-size: rem(14);
		@include media-breakpoint-up(lg) {
			font-size: rem(16);
		}
		&--green {
			padding: rem(2) rem(10);
			background-color: #fff;
			color: #377B71;
			border: 1px solid #377B71;
		}
	}
	&__price-row {
		--bs-gutter-x: #{rem(5)};
		--bs-gutter-y: #{rem(5)};
		margin-bottom: rem(15);
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: #{rem(10)};
			margin-bottom: rem(20);
		}
	}
	&__price {
		font-size: rem(18);
		font-weight: 700;
		padding: rem(6.5) rem(10);
		background-color: $primary;
		// letter-spacing: -1px;
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
			padding: rem(9) rem(15);
		}
	}
	&__size {
		font-size: rem(18);
		font-weight: 700;
		padding: rem(6.5) rem(10);
		background-color: $gray-100;
		letter-spacing: -1px;
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
			padding: rem(9) rem(15);
		}
	}
	&__input {
		width: rem(60);
		padding: rem(7) rem(10);
		background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' viewBox='0 0 8 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 1L4 4L1 1' stroke='%23FFC861' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
		background-size: 9px 6px;
		background-position: right 0.85rem center;
		@include media-breakpoint-up(lg) {
			width: rem(75);
			padding: rem(14) rem(15);
		}
	}
	&__adress {
		color: $blue;
		font-family: $font-family-monospace;
		margin-bottom: rem(20);
		font-size: rem(14);
		@include media-breakpoint-up(md) {
			font-size: rem(16);
		}
		.icon {
			font-size: rem(20);
			margin-right: rem(10);
			vertical-align: text-bottom;
		}
	}
	&__btn {
		width: 100%;
		letter-spacing: 0.1em;
		@include media-breakpoint-down(sm) {
			max-width: rem(320);
		}
	}
	&__advantage {
		display: flex;
		@include media-breakpoint-down(lg) {
			flex-wrap: wrap;
			margin-top: rem(-15);
			margin-bottom: rem(20);
		}
		@include media-breakpoint-up(lg) {
			height: 100%;
			align-items: center;
			justify-content: space-between;
			background-color: #fff;
			border: 1px solid #DEDFE0;
			padding: 0 rem(63);
		}
	}
	&__advantage-item {
		display: flex;
		flex-wrap: wrap;
		@include media-breakpoint-down(lg) {
			width: 50%;
			margin-top: rem(15);
		}
		// @include media-breakpoint-down(sm) {
		// 	width: 100%;
		// }
		@include media-breakpoint-up(lg) {
			max-width: rem(70);
		}
		p {
			color: $gray-600;
			margin-bottom: rem(5);
			line-height: 1.25em;
			@include media-breakpoint-down(lg) {
				order: 2;
				font-size: rem(14);
				margin: 0 rem(5);
			}
		}
		.icon {
			font-size: rem(20);
			margin-right: rem(5);
			@include media-breakpoint-down(lg) {
				order: 1;
			}
		}
		span {
			line-height: 1.25em;
			@include media-breakpoint-down(lg) {
				order: 3;
				font-size: rem(14);
			}
		}
	}
	&__full-size {
		@include mt;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		background: rgba(30, 40, 49, 0.5);
		backdrop-filter: blur(15px);
		height: 40px;
		width: 40px;
		z-index: 2;
		color: #fff;
		top: 20px;
		right: 20px;
		border-radius: 10px;
		cursor: pointer;
		&:hover {
			background-color: #000;
		}
		@include media-breakpoint-up(lg) {
			width: 60px;
			height: 60px;
			top: 40px;
			right: 40px;
			border-radius: 15px;
		}
		.icon {
			font-size: rem(16);
			@include media-breakpoint-up(lg) {
				font-size: rem(24);
			}
		}
	}
	&__footer-content {
		h4 {
			font-weight: 700;
			margin-bottom: rem(10);
		}
		p {
			font-size: rem(16);
			font-family: $font-family-monospace;
			margin-bottom: rem(20);
			max-width: rem(768);
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(lg) {
				font-size: rem(18);
			}
		}
		.soc {
			justify-content: center;
			&__item {
				width: 30px;
				height: 30px;
				@include media-breakpoint-up(md) {
					width: 40px;
					height: 40px;
				}
			}
			.icon {
				font-size: rem(18);
				@include media-breakpoint-up(md) {
					font-size: rem(24);
				}
			}
		}
	}
	&__mobile-link {
		display: block;
		font-size: rem(20);
		font-weight: 600;
		margin-bottom: rem(20);
		color: $body-color;
		&:hover {
			color: $primary;
		}
	}
	&__col-btn {
		@include media-breakpoint-down(sm) {
			background-color: white;
			text-align: center;
			padding-bottom: 20px;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSlider