// start .headerBlock
.headerBlock {
	--sPT: #{rem(155)};
	--sPB:#{rem(20)};
	min-height: 100vh;
	// height: calc(var(--vh, 100vh) * 100);
	background-color: $body-color;
	@include media-breakpoint-up(xxl) {
		--sPT: #{rem(180)};
		// height: calc((var(--vh, 1vh) * 100) - rem(134));
	}
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(129.600)};
		--sPB:#{rem(0)};
	}
	&__container {
		height: calc(100% - var(--sPT));
		min-height: calc(100vh - var(--sPT) - var(--sPB));
		display: flex; 
		flex-direction: column;
		// min-height: 100vh;
		@include media-breakpoint-up(lg) {
			min-height: calc(100vh - var(--sPT));
		}
	}
	&__slider {
		// top: -80px;
		height: 100%;
		@include media-breakpoint-up(lg) {
			// top: rem(-134);
			// height: calc(100vh );
		}
		picture {
			height: 100%;
			opacity: .8;
			position: relative;
			z-index: 1;
			&:after {
				content: '';
				position: absolute;
				display: block;
				width: 100%;
				bottom: 0;
				left: 0;
				height: 134px;
				background-image: linear-gradient(180deg, #1C1C1C 0%, rgba(28, 28, 28, 0) 100%);
				opacity: .4;
				transform: matrix(1, 0, 0, -1, 0, 0);
				// z-index: -1;
			}
			img {
				height: 100%;
				opacity: .8;
			}
		}
	}
	&__slide {
		height: auto;
	}
	img {
		object-position: left;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
	.section-wrap {
		max-width: rem(680);
		text-align: center;
		margin-bottom: rem(74);
		flex-grow: 1;
		@include media-breakpoint-up(md) {
			text-align: left;
			margin-bottom: rem(90);
		}
		@include media-breakpoint-up(xxl) {
			// margin-bottom: rem(90);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		h1 {
			color: #fff;
			margin-bottom: rem(15);
			@include media-breakpoint-down(sm) {
				font-size: rem(36);
			}
			@include media-breakpoint-up(md) {
				margin-bottom: rem(30);
			}
			@include media-breakpoint-up(lg) {
				font-size: rem(57);
				margin-bottom: rem(25);
			}
		}
		p {
			color: #fff;
			font-weight: 600;
			margin-bottom: rem(30);
			font-size: rem(16);
			@include media-breakpoint-up(md) {
				font-size: rem(18);
				margin-bottom: rem(60);
			}
			@include media-breakpoint-only(xl) {
				margin-bottom: rem(25);
			}
		}
		&__btn {
			width: 100%;
			@include media-breakpoint-up(md) {
				max-width: rem(300);
			}
		}
	}
	&__slider-txt {
		display: flex;
		align-items: center;
		p {
			color: #fff;
			opacity: 0.5;
			margin-bottom: 0;
			font-family: $font-family-monospace;
			font-style: italic;
			max-width: 190px;
			font-size: rem(14);
			@include media-breakpoint-up(md) {
				font-size: rem(16);
				max-width: 280px;
			}
		}
		.swiper-button-hand {
			display: flex;
			--swiperArrowPosition: 0;
			--swiperArrowSize: #{rem(24)};
			--swiperBorderColorDef: transparent;
			--swiperColorDef: #fff;
			--swiperBgDef: transparent;
			--swiperBorderColorDefHover: transparent;
			--swiperBgDefHover: transparent;
			--swiperColorDefHover: #fff;
			&:hover {
				opacity: .85;
			}
			.icon {
				font-size: rem(26);
			}
			&-prev {
				right: 34px;
				left: unset;
			}
		}
	}
	&__title {
		color: #fff;
		font-weight: 600;
		line-height: 1.25em;
		max-width: 190px;
		font-size: rem(14);
		@include media-breakpoint-up(md) {
			font-size: rem(16);
			max-width: 280px;
		}
	}
	&__slider-wrap {
		position: relative;
		padding: rem(20);
		width: 100%;
		margin-left: auto;
		background-color: rgba(30, 40, 49, 0.5);
		backdrop-filter: blur(15px);
		border-radius: 15px;
		@include media-breakpoint-up(md) {
			max-width: rem(380);
		}
	}
	&__scroll-down {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
			height: 100px;
			border-left: 1px solid rgba($color: #fff, $alpha: .5);
			max-width: max-content;
			padding-left: rem(55);
			position: relative;
			font-family: $font-family-monospace;
			font-style: italic;
			color: #fff;
			&:hover {
				opacity: .7;
				color: #fff;
			}
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 5px;
				height: 5px;
				background-color: #fff;
				border-radius: 50%;
				top: 10px;
				left: 40px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock