mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.bg-wrap&attributes(attributes)
		+e.slider--js.swiper.picture-bg
			.swiper-wrapper
				-for(let i=0; i<3; i++)
					+e.slide.swiper-slide
						picture
							<source media="(min-width:400px)" srcset="img/header-bg.jpg">
							+img('img/header-bg-sm.jpg')
		+e.container.container
			+b.section-wrap
				h1 #[strong Недвижимость] Северного Кипра
				p Давайте подберем объекты для Вас, наш менеджер свяжется с&nbsp;вами, уточнит требования и&nbsp;бюджет, подготовит и&nbsp;вышлет подборку из&nbsp;20-30 наиболее подходящих для вас объектов.
				+e.btn(href="#").btn.btn-primary Заявка на подбор объекта
			+e.slider-wrap
				+e.slider-txt--js.swiper
					.swiper-wrapper
						-for(let i=0; i<3; i++)
							+e.slide.swiper-slide
								+e.title Древний город Саламис
								p Северный Кипр
					+arrow()
			+e.scroll-down(href="#sProfitable") Листайте вниз

	// end headerBlock