// start .headerBlock
.headerBlock {
	--sPT: #{rem(155)};
	--sPB:#{rem(20)};
	// min-height: 100vh;
	// height: calc(var(--vh, 1vh) * 100 - 80px);
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(269)};
		--sPB:#{rem(0)};
		// height: calc((var(--vh, 1vh) * 100) - rem(134));
	}
	&__container {
		height: calc(100%);
		display: flex;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			height: 100%;
		}
	}
	&__slider {
		// top: -80px;
		// height: calc(100vh );
		@include media-breakpoint-up(lg) {
			// top: rem(-134);
			// height: calc(100vh );
		}
		picture {
			height: 100%;
			img {
				height: 100%;
			}
		}
	}
	img {
		object-position: left;
		object-fit: cover;
		height: 100vh;
		width: 100%;
	}
	.section-wrap {
		max-width: rem(680);
		text-align: center;
		margin-bottom: rem(74);
		flex-grow: 1;
		@include media-breakpoint-up(md) {
			text-align: left;
			margin-bottom: rem(90);
		}
		h1 {
			color: #fff;
			margin-bottom: rem(15);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(30);
			}
		}
		p {
			color: #fff;
			font-size: rem(18);
			font-weight: 600;
			margin-bottom: rem(30);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(60);
			}
		}
		&__btn {
			width: 100%;
			@include media-breakpoint-up(md) {
				max-width: rem(300);
			}
		}
	}
	&__slider-txt {
		display: flex;
		align-items: center;
		p {
			color: #fff;
			opacity: 0.5;
			margin-bottom: 0;
			font-family: $font-family-monospace;
			max-width: 190px;
			@include media-breakpoint-up(md) {
				max-width: 280px;
			}
		}
		.swiper-button-hand {
			display: flex;
			--swiperArrowPosition: 0;
			--swiperArrowSize: #{rem(24)};
			--swiperBorderColorDef: transparent;
			--swiperColorDef: #fff;
			--swiperBgDef: transparent;
			--swiperBorderColorDefHover: transparent;
			--swiperBgDefHover: transparent;
			.icon {
				font-size: rem(24);
			}
			&-prev {
				right: 24px;
				left: unset;
			}
		}
	}
	&__title {
		color: #fff;
		font-weight: 600;
		line-height: 1.25em;
		max-width: 190px;
		@include media-breakpoint-up(md) {
			max-width: 280px;
		}
	}
	&__slider-wrap {
		position: relative;
		padding: rem(20);
		width: 100%;
		margin-left: auto;
		background-color: rgba(30, 40, 49, 0.5);
		backdrop-filter: blur(15px);
		border-radius: 15px;
		@include media-breakpoint-up(md) {
			max-width: rem(380);
		}
	}
	&__scroll-down {
		display: none;
		@include media-breakpoint-up(lg) {
			display: block;
			height: 100px;
			border-left: 1px solid rgba($color: #fff, $alpha: .5);
			max-width: max-content;
			padding-left: rem(55);
			position: relative;
			font-family: $font-family-monospace;
			&:not(:hover) {
				color: #fff;
			}
			&:before {
				content: '';
				position: absolute;
				display: block;
				width: 5px;
				height: 5px;
				background-color: #fff;
				border-radius: 50%;
				top: 10px;
				left: 40px;
			}
		}
	}
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock