- const version = '0.0.1'
mixin allcss() 
	link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap" rel="stylesheet">
	//- link(href=`css/main.min.css?v=${version}`, rel="stylesheet")
	link(href=`css/main.min.css`, rel="stylesheet")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	//- script(src="libs/inputmask/inputmask.min.js") 
	//- script(src=`js/common.js?v=${version}`)
	script(src=`js/common.js`)


	<!-- Yandex.Metrika counter -->
	script.
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		var z = null;m[i].l=1*new Date();
		for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
		k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(90258434, "init", {
					clickmap:true,
					trackLinks:true,
					accurateTrackBounce:true
		});
	<noscript><div><img src="https://mc.yandex.ru/watch/90258434" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->