// start .sProfitable
.sProfitable {
	--sPT: #{rem(60)};
	--sPB: #{rem(60)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
	}
	&__row{
		--bs-gutter-x: #{rem(20)};
		--bs-gutter-y: #{rem(39)};

	}
	.section-title{

	}
	&__col{

	}
	.bg {
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		width: auto;
		height: auto;
		display: none;
		@include media-breakpoint-up(md) {
			display: block;
		}
	}
	&__item{
		display: flex;
		flex-direction: row;
		align-items: center;
		@include media-breakpoint-up(md) {
			text-align: center;
			flex-direction: column;
		}
		img {
			max-width: rem(80);
			margin-bottom: rem(20);
			margin-right: rem(20);
			@include media-breakpoint-up(md) {
				margin-right: 0;
			}
		}
		p {
			font-size: rem(16);
			line-height: 1.67em;
			@include media-breakpoint-up(md) {
				font-size: rem(18);
			}
		}
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sProfitable