// start .sWhy
.sWhy {
	--sPT: #{rem(60)};
	--sPB: #{rem(60)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
	}
	.sProfitable-bg {
		height: auto;
		width: auto;
		top: unset;
		bottom: 0;
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};

	}
	&__content-wrap {
		padding-bottom: rem(40);
		@include media-breakpoint-up(lg) {
			padding-bottom: rem(120);
		}
	}
	.bg {
		width: 1180px;
		max-width: 100%;
		left: 50%;
		transform: translateX(-50%);
		top: rem(150);
		height: auto;
		@include media-breakpoint-up(lg) {
			top: unset;
			bottom: 0;
		}
	}
	.section-title{
		margin-bottom: rem(160);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(60);
		}
		h2 {
			@include media-breakpoint-down(md) {
				font-size: rem(30);
			}
		}
	}
	&__col{

	}
	&__items-wrap {
		@include media-breakpoint-down(lg) {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-bottom: rem(40);
		}
		@include media-breakpoint-down(sm) {
			flex-direction: row;
		}
	}
	&__item{
		margin-left: auto;
		background-color: rgba(255, 255, 255, 0.9);
		box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.15);
		backdrop-filter: blur(15px);
		border-radius: 15px;
		padding: rem(20);
		display: flex;
		flex-direction: column;
		width: calc(50% - 10px);
		@include media-breakpoint-up(lg) {
			max-width: rem(280);
		}
		&--black {
			background-color: rgba(30, 40, 49, 0.5);
			color: #fff;
			@include media-breakpoint-down(lg) {
				width: 100%;
				margin-bottom: rem(20);
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
			}
		}
		&:nth-child(even) {
			margin-left: 0;
			margin-right: auto;
		}
		.img {
			width: 100%;
			margin-bottom: rem(15);
			max-width: rem(40);
			@include media-breakpoint-up(sm) {
				max-width: rem(60);
			}
		}
	}
	&__headline {
		font-weight: 600;
		margin-bottom: rem(5);
		font-size: rem(14);
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(10);
			font-size: rem(16);
		}
	}
	&__city {
		font-size: rem(24);
		font-weight: 700;
		margin-bottom: rem(5);
		@include media-breakpoint-down(sm) {
			font-size: rem(18);
		}
		img {
			vertical-align: sub;
			max-width: rem(30);
			margin-right: rem(10);
		}
	}
	&__weather-head  {
		// margin-bottom: rem(5);
		@include media-breakpoint-down(sm) {
			font-size: rem(14);
			margin-bottom: 9px;
		}
	}
	&__weather-body {
		font-size: rem(24);
		font-weight: 700;
		@include media-breakpoint-down(sm) {
			font-size: rem(18);
		}
	}
	&__title {
		font-weight: 600;
		max-width: rem(210);
		@include media-breakpoint-down(sm) {
			font-size: rem(14);
		}
	}
	&__txt-col {
		display: flex;
		flex-direction: column;
		@include media-breakpoint-down(lg) {
			text-align: center;
			align-items: center;
		}
	}
	&__text {
		font-family: $font-family-monospace;
		font-size: rem(16);
		text-align: center;
		max-width: rem(400);
		@include media-breakpoint-up(lg) {
			text-align: left;
			font-size: rem(18);
		}
		&:nth-child(1) {
			margin-bottom: auto;
			@include media-breakpoint-down(lg) {
				margin-bottom: rem(30);
			}
		}
		&:nth-child(2) {
			@include media-breakpoint-up(lg) {
				margin-left: auto;
			}
		}
	}
	&__inner-row {
		--bs-gutter-x: #{rem(10)};
	}
	&__footer-content {
		margin-top: rem(20);
	}
	&__item-wrap {
		display: flex;
		align-items: center;
		img {
			width: 100%;
			max-width: rem(65);
			flex: 0 0 auto;
			margin-right: rem(20);
			@include media-breakpoint-up(md) {
				max-width: rem(80);
			}
		}
		p {
			font-size: rem(16);
			line-height: 1.67em;
			margin-bottom: 0;
			@include media-breakpoint-up(md) {
				font-size: rem(18);
			}
		}
	}
	&__footer-row {
		--bs-gutter-y: #{rem(20)};
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: #{rem(40)};
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sWhy