mixin item-sos(icon, a='#')
	+e.A.item(href= a target="_blank")&attributes(attributes)
		if block
			block
		else
			+icon(icon)
//- social buttons
mixin soc()
	+b.soc
		if block
			block
		else
			+item-sos('whatsapp', 'https://wa.me/+35795763982')(style="--color:#00C958")
			+item-sos('telegram', '@Ilya_K')(style="--color:#2FA6D9")
			+item-sos('viber')(style="--color:#8852C1")

//- /social buttons 